[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-timeout = "*"
pytest = "*"
pytest-pep8 = "*"
pytest-flakes = "*"

[packages]
paramiko = "*"
requests = "*"
pyyaml = "*"
pyserial = "*"
pyserial-asyncio = "*"
pygobject = "*"
pcapy = "*"
scapy = "*"
pytest = "*"

[requires]
python_full_version = "3.7"
